@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    width: 110%;
}
/* CSS VARIABLES */

:root {
    --mainBgColor:  hsl(233, 47%, 7%);
    --cardBgColor:   hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --mainParagraphColor: hsla(0, 0%, 100%, 0.75);
    --statsHeadingColor: hsla(0, 0%, 100%, 0.6);
}

body {
     background-color:var(--mainBgColor);
     color: var(--white);
     font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: var(--cardBgColor);
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    overflow: hidden;
    height: 70vh;
}

.container > div {
    width: 50%;
}

.text-container {
     padding: 2rem; 
}

.text-container h1 {
    font-size: 24px;
    margin: 1rem 1rem 1rem 1rem;
}

.mobile-image {
    display: none;
}

h1 span {
    color: var(--softViolet);
}

p{
    color: var(--mainParagraphColor);
    font-size: 12px;
    margin-left: 1rem;
}

.text-container > p {
    margin-bottom: 2rem;
}

.stats {
    display: flex;
    justify-content: space-between;
    
    h2 {
        font-size: 1rem;
        margin-left: 1rem;
    }
}


@media screen and (max-width: 760px) {
    .container {
       display: block;
       width: 80%;
       height: 80vh;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: fit-content;
        height: 30vh;
    }

    .container > div {
        width: 100%;
    }

    .text-container {
        padding: 0rem; 
   }

    .text-container h1 {
        font-size: clamp(28px, 4rem, 3vw);
        margin: 2rem 2.4rem;
    }

    .paragraph{
        color: var(--mainParagraphColor);
        font-size: 12px;
        margin: 10px 30px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        h2 {
            font-size: 20px;
            margin-left: 1rem;
        }

        p {
            margin-right: 12px;
        }
    }
    

}

